.webinar-past {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-x: clip;
}

.webinar-past .header-11 {
  margin-bottom: -1px !important;
}

.webinar-past .header-12 {
  display: flex !important;
  height: 375px !important;
  width: 100% !important;
}

.webinar-past .header-13 {
  background-image: url(../../../static/img/rectangle-59-23.svg) !important;
  left: 384px !important;
}

.webinar-past .header-14 {
  width: 433px !important;
}

.webinar-past .section {
  align-items: flex-start;
  background-color: #f9f9f9;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 50px 212px;
  position: relative;
  width: 100%;
}

.webinar-past .briefs-blogs {
  align-items: flex-start;
  background-color: var(--full-white);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 910px;
}

.webinar-past .frame-69 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 40px 40px 0px;
  position: relative;
  width: 100%;
}

.webinar-past .frame-70 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--primaryprimary-darker);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 393px;
  justify-content: center;
  padding: 100px 82px;
  position: relative;
  width: 100%;
}

.webinar-past .frame-71 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.webinar-past .frame-72 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.webinar-past .text-wrapper-104 {
  color: var(--infoinfo);
  font-family: "Public Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.webinar-past .AGID-year-in-review {
  color: var(--full-white);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  position: relative;
  width: 615px;
}

.webinar-past .text-wrapper-105 {
  color: #005ea2;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  position: relative;
  width: 704px;
}

.webinar-past .flexcontainer-i {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 830px;
}

.webinar-past .text-i {
  align-self: stretch;
  color: #686868;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.webinar-past .text-wrapper-106 {
  color: #686868;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.webinar-past .text-wrapper-107 {
  color: #005ea2;
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  margin-top: -1px;
  position: relative;
  width: 704px;
}

.webinar-past .text-wrapper-108 {
  color: #686868;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  width: 779px;
}

.webinar-past .text-wrapper-109 {
  color: #005ea2;
  font-family: var(--text-link-font-family);
  font-size: var(--text-link-font-size);
  font-style: var(--text-link-font-style);
  font-weight: var(--text-link-font-weight);
  letter-spacing: var(--text-link-letter-spacing);
  line-height: var(--text-link-line-height);
  position: relative;
  text-decoration: underline;
  width: 704px;
}

.webinar-past .text-wrapper-110 {
  align-self: stretch;
  color: var(--basebase);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.webinar-past .relates {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 830px;
}

.webinar-past .topic-8 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--basebase-light);
  display: inline-flex;
  flex: 0 0 auto;
  padding: 5px;
  position: relative;
}

.webinar-past .text-wrapper-111 {
  color: var(--basebase);
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.webinar-past .icon-176-instance {
  height: 26px !important;
  margin-bottom: -9px !important;
  margin-top: -9px !important;
  position: relative !important;
  width: 26px !important;
}

.webinar-past .rows-2 {
  flex: 0 0 auto !important;
  width: 910px !important;
}

.webinar-past .related-content {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.webinar-past .related-content-type {
  color: #005ea2;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
  width: 435px;
}

.webinar-past .topic-card-grid-4 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--basebase-lighter);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  height: 215px;
  overflow: hidden;
  position: relative;
  width: 435px;
}

.webinar-past .frame-73 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 10px 40px 20px 20px;
  position: relative;
  width: 435px;
}

.webinar-past .frame-74 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.webinar-past .frame-75 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.webinar-past .text-wrapper-112 {
  color: var(--basebase);
  font-family: var(--h6-bold-font-family);
  font-size: var(--h6-bold-font-size);
  font-style: var(--h6-bold-font-style);
  font-weight: var(--h6-bold-font-weight);
  letter-spacing: var(--h6-bold-letter-spacing);
  line-height: var(--h6-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.webinar-past .text-wrapper-113 {
  color: #005ea2;
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  width: 375px;
}

.webinar-past .text-wrapper-114 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.webinar-past .frame-76 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
  width: 100%;
}

.webinar-past .text-wrapper-115 {
  color: #005ea2;
  font-family: var(--h6-bold-font-family);
  font-size: var(--h6-bold-font-size);
  font-style: var(--h6-bold-font-style);
  font-weight: var(--h6-bold-font-weight);
  letter-spacing: var(--h6-bold-letter-spacing);
  line-height: var(--h6-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.webinar-past .text-wrapper-116 {
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.webinar-past .topic-card-grid-5 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--basebase-lighter);
  border-radius: 0px 0px 10px 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.webinar-past .footer-4 {
  flex: 0 0 auto !important;
}
