.topic-navigatorgrid {
  align-items: flex-start;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-x: clip;
}

.topic-navigatorgrid .header-3 {
  flex: 0 0 auto !important;
}

.topic-navigatorgrid .header-4 {
  background-image: url(../../../static/img/rectangle-59-10.svg) !important;
  left: 384px !important;
}

.topic-navigatorgrid .header-5 {
  width: 433px !important;
}

.topic-navigatorgrid .div-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .left-3 {
  align-items: flex-start;
  background: linear-gradient(to right, #fff0 57%, #9ecae1 73.92%, #005ea2 98%);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #005ea2;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0px 50px 60px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .div-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .state-profiles {
  color: var(--basebase-darker);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .content-8 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 1125px;
}

.topic-navigatorgrid .text-wrapper-61 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  margin-top: -1px;
  position: relative;
}

.topic-navigatorgrid .standard-topics {
  align-items: flex-start;
  background-color: var(--primaryprimary-darker);
  border-color: var(--basebase-light);
  border-top-style: solid;
  border-top-width: 1px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .topic-navigator {
  align-items: flex-start;
  background-color: #f9f9f9;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 60px 0px 0px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .topic-filters {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border: 1px solid;
  border-color: var(--basebase-light);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px 50px 60px;
  position: relative;
  width: 450px;
}

.topic-navigatorgrid .text-wrapper-62 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
}

.topic-navigatorgrid .text-wrapper-63 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.topic-navigatorgrid .frame-36 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .date-input {
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 184px;
}

.topic-navigatorgrid .text-input {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.topic-navigatorgrid .text-input-label {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.topic-navigatorgrid .input-2 {
  align-self: stretch;
  background-image: url(../../../static/img/vector-37.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .icon-instance-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 4px;
  position: relative;
}

.topic-navigatorgrid .topic-filter {
  align-items: center;
  align-self: stretch;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .div-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .select-data-set {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.topic-navigatorgrid .use-the-filters-to {
  align-self: stretch;
  color: var(--basebase-dark);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.topic-navigatorgrid .quick-search-filter {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .text-wrapper-64 {
  color: var(--basebase-dark);
  font-family: var(--h6-font-family);
  font-size: var(--h6-font-size);
  font-style: var(--h6-font-style);
  font-weight: var(--h6-font-weight);
  letter-spacing: var(--h6-letter-spacing);
  line-height: var(--h6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .vector-3 {
  align-self: stretch;
  height: 40px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .topic {
  align-items: center;
  align-self: stretch;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: #000000;
  display: flex;
  flex: 0 0 auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .frame-37 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.topic-navigatorgrid .text-wrapper-65 {
  color: #1b1b1b;
  flex: 1;
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
}

.topic-navigatorgrid .text-wrapper-66 {
  color: #1b1b1b;
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .topic-wrapper {
  align-self: stretch;
  height: 24px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .topic-2 {
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 12px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
}

.topic-navigatorgrid .data-element-name-3 {
  color: var(--basebase-dark);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .text-wrapper-67 {
  align-self: stretch;
  color: #005ea2;
  font-family: var(--text-link-font-family);
  font-size: var(--text-link-font-size);
  font-style: var(--text-link-font-style);
  font-weight: var(--text-link-font-weight);
  letter-spacing: var(--text-link-letter-spacing);
  line-height: var(--text-link-line-height);
  position: relative;
  text-decoration: underline;
}

.topic-navigatorgrid .data-element {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--full-white);
  display: flex;
  flex-direction: column;
  height: 53px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .topic-3 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  flex: 0 0 auto;
  padding: 10px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .data-element-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--full-white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .frame-38 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 100px;
  position: relative;
}

.topic-navigatorgrid .frame-39 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 20px 10px;
  position: relative;
  width: 1328px;
}

.topic-navigatorgrid .types-and-sort {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .text-wrapper-68 {
  color: var(--basebase);
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .view {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 283px;
}

.topic-navigatorgrid .results-filter {
  align-items: flex-start;
  background-color: var(--full-white);
  border: 2px solid;
  border-color: var(--basebase);
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 5px 18px;
  position: relative;
}

.topic-navigatorgrid .check-label {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.topic-navigatorgrid .text-wrapper-69 {
  color: var(--basebase);
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .check-label-wrapper {
  align-items: flex-start;
  background-color: #005ea2;
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 5px 18px;
  position: relative;
}

.topic-navigatorgrid .text-wrapper-70 {
  color: var(--full-white);
  font-family: var(--sub-subtopic-label-font-family);
  font-size: var(--sub-subtopic-label-font-size);
  font-style: var(--sub-subtopic-label-font-style);
  font-weight: var(--sub-subtopic-label-font-weight);
  letter-spacing: var(--sub-subtopic-label-letter-spacing);
  line-height: var(--sub-subtopic-label-line-height);
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .sort-by {
  align-items: flex-start;
  background-color: var(--full-white);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 0px 0px 10px;
  position: relative;
}

.topic-navigatorgrid .text-wrapper-71 {
  color: var(--basebase);
  font-family: var(--cell-category-font-family);
  font-size: var(--cell-category-font-size);
  font-style: var(--cell-category-font-style);
  font-weight: var(--cell-category-font-weight);
  letter-spacing: var(--cell-category-letter-spacing);
  line-height: var(--cell-category-line-height);
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .frame-40 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding-left: 15px;
}

.topic-navigatorgrid .div-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.topic-navigatorgrid .topic-card-grid {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase-lighter);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 424px;
}

.topic-navigatorgrid .frame-41 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 10px 40px 20px 20px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.topic-navigatorgrid .text-wrapper-72 {
  color: var(--basebase);
  font-family: var(--h6-bold-font-family);
  font-size: var(--h6-bold-font-size);
  font-style: var(--h6-bold-font-style);
  font-weight: var(--h6-bold-font-weight);
  letter-spacing: var(--h6-bold-letter-spacing);
  line-height: var(--h6-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .text-wrapper-73 {
  color: var(--datatype-data-set);
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  width: 375px;
}

.topic-navigatorgrid .frame-43 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 50px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .text-wrapper-74 {
  color: var(--datatype-data-set);
  font-family: var(--h6-bold-font-family);
  font-size: var(--h6-bold-font-size);
  font-style: var(--h6-bold-font-style);
  font-weight: var(--h6-bold-font-weight);
  letter-spacing: var(--h6-bold-letter-spacing);
  line-height: var(--h6-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .text-wrapper-75 {
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .frame-44 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
  position: relative;
}

.topic-navigatorgrid .topic-card-grid-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase-lighter);
  border-radius: 0px 0px 10px 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 424px;
}

.topic-navigatorgrid .frame-45 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  padding: 10px 40px 20px 20px;
  position: relative;
  width: 435px;
}

.topic-navigatorgrid .text-wrapper-76 {
  color: #005ea2;
  font-family: var(--quick-link-font-family);
  font-size: var(--quick-link-font-size);
  font-style: var(--quick-link-font-style);
  font-weight: var(--quick-link-font-weight);
  letter-spacing: var(--quick-link-letter-spacing);
  line-height: var(--quick-link-line-height);
  position: relative;
  text-decoration: underline;
  width: 375px;
}

.topic-navigatorgrid .text-wrapper-77 {
  color: #005ea2;
  font-family: var(--h6-bold-font-family);
  font-size: var(--h6-bold-font-size);
  font-style: var(--h6-bold-font-style);
  font-weight: var(--h6-bold-font-weight);
  letter-spacing: var(--h6-bold-letter-spacing);
  line-height: var(--h6-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .topic-card-grid-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--basebase-lighter);
  border-radius: 0px 0px 10px 10px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 424px;
}

.topic-navigatorgrid .text-wrapper-78 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .load-more-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.topic-navigatorgrid .text-wrapper-79 {
  color: #005ea2;
  font-family: var(--intro-font-family);
  font-size: var(--intro-font-size);
  font-style: var(--intro-font-style);
  font-weight: var(--intro-font-weight);
  letter-spacing: var(--intro-letter-spacing);
  line-height: var(--intro-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.topic-navigatorgrid .footer-instance {
  background-color: unset !important;
}

.topic-navigatorgrid .footer-1920-instance {
  background-color: #f9f9f9 !important;
  flex: 0 0 auto !important;
  padding: 50px 0px 0px !important;
}
