.glossary {
  align-items: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
  overflow-x: clip;
}

.glossary .header-27 {
  display: flex !important;
  height: 375px !important;
  width: 100% !important;
}

.glossary .header-28 {
  background-image: url(../../../static/img/rectangle-59-14.svg) !important;
  left: 384px !important;
}

.glossary .header-29 {
  left: -1px !important;
  width: 433px !important;
}

.glossary .header-30 {
  margin-bottom: -1px !important;
}

.glossary .intro-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.glossary .left-7 {
  align-items: flex-start;
  background: linear-gradient(to right, #fff0 57%, #9ecae1 73.92%, #005ea2 98%);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #005ea2;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0px 50px 212px;
  position: relative;
  width: 100%;
}

.glossary .div-17 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.glossary .release-notes-data-2 {
  color: var(--basebase-darker);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.glossary .content-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.glossary .text-wrapper-148 {
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  margin-top: -1px;
  position: relative;
  width: 738px;
}

.glossary .FAQ-topic-menu {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.glossary .frame-97 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border-color: var(--basebase-light);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px 50px 212px;
  position: relative;
  width: 647px;
}

.glossary .text-wrapper-149 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  margin-top: -1px;
  position: relative;
}

.glossary .text-wrapper-150 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.glossary .div-18 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.glossary .quick-search-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}

.glossary .type-to-filter {
  color: var(--basebase-dark);
  font-family: var(--h6-font-family);
  font-size: var(--h6-font-size);
  font-style: var(--h6-font-style);
  font-weight: var(--h6-font-weight);
  letter-spacing: var(--h6-letter-spacing);
  line-height: var(--h6-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.glossary .vector-6 {
  align-self: stretch;
  height: 40px;
  position: relative;
  width: 100%;
}

.glossary .FAQ-filter {
  align-items: flex-start;
  background-color: var(--full-white);
  border: 1px solid;
  border-color: var(--basebase-light);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 10px 20px 20px;
  position: relative;
  width: 414px;
}

.glossary .frame-98 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  width: 100%;
}

.glossary .frame-99 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.glossary .FAQ-filter-topic {
  align-items: center;
  align-self: stretch;
  background-color: var(--full-white);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--basebase);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 20px 10px;
  position: relative;
  width: 100%;
}

.glossary .check-label-info {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 5px;
  position: relative;
}

.glossary .about-AGID {
  color: var(--basebase-dark);
  flex: 1;
  font-family: var(--topic-label-font-family);
  font-size: var(--topic-label-font-size);
  font-style: var(--topic-label-font-style);
  font-weight: var(--topic-label-font-weight);
  letter-spacing: var(--topic-label-letter-spacing);
  line-height: var(--topic-label-line-height);
  margin-top: -1px;
  position: relative;
}

.glossary .FAQ-filter-topic-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--primaryprimary-lighter);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #005ea2;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 15px 10px 15px 20px;
  position: relative;
  width: 100%;
}

.glossary .what-is-AGID {
  color: #005ea2;
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
}

.glossary .icon-arrow-forward {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.glossary .FAQ-filter-topic-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--basebase-light);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 15px 10px 15px 20px;
  position: relative;
  width: 100%;
}

.glossary .what-is-AGID-2 {
  color: var(--basebase-dark);
  flex: 1;
  font-family: var(--sub-topic-label-font-family);
  font-size: var(--sub-topic-label-font-size);
  font-style: var(--sub-topic-label-font-style);
  font-weight: var(--sub-topic-label-font-weight);
  letter-spacing: var(--sub-topic-label-letter-spacing);
  line-height: var(--sub-topic-label-line-height);
  margin-top: -1px;
  position: relative;
}

.glossary .scroll {
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border-radius: 7px;
  position: relative;
  width: 15px;
}

.glossary .rectangle-2 {
  background-color: var(--basebase-light);
  border-radius: 5px;
  height: 326px;
  left: 2px;
  position: relative;
  top: 35px;
  width: 11px;
}

.glossary .frame-100 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  padding: 100px 0px;
  position: relative;
}

.glossary .frame-101 {
  align-items: center;
  background-color: var(--full-white);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  position: relative;
}

.glossary .frame-102 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.glossary .text-wrapper-151 {
  align-self: stretch;
  color: var(--basebase);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  margin-top: -1px;
  position: relative;
}

.glossary .ACL-administration {
  align-self: stretch;
  color: #005ea2;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  position: relative;
}

.glossary .text-wrapper-152 {
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
}

.glossary .text-wrapper-153 {
  color: #005ea2;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
}

.glossary .flexcontainer-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.glossary .text-3 {
  align-self: stretch;
  color: var(--basebase);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: relative;
}

.glossary .text-wrapper-154 {
  color: #71767a;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.glossary .frame-103 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--basebase-lightest);
  border-color: var(--basebase-light);
  border-left-style: solid;
  border-left-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 60px 50px 28px;
  position: relative;
  width: 495px;
}

.glossary .text-wrapper-155 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-top: -1px;
  position: relative;
}

.glossary .frame-104 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.glossary .text-wrapper-156 {
  align-self: stretch;
  color: var(--basebase-darker);
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.glossary .frame-105 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.glossary .text-wrapper-157 {
  color: #005ea2;
  font-family: "Public Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.glossary .footer-8 {
  border-color: var(--basebase-light) !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  flex: 0 0 auto !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  padding: 1px 0px 0px !important;
  width: 1922px !important;
}
